<div class="main-content">
    <div class="container-fluid">
        <div *ngFor = "let card of mockData">
          <div class="row">
            <div class="card" style="max-width: 830px;">
                <img
                  src= {{card.imageURL}}
                  class="card-img"
                  alt="..."
                  style="max-width: 830px;"
                />
                <div class="card-img-overlay">
                  <h5 class="card-title"> {{card.headline}} </h5>
                  <p class="card-text">
                   {{card.description}}
                  </p>
                  <p class="card-text">{{card.updatedby}}</p>
                </div>
              </div>
        </div>
        </div>
    </div>
</div>
