.navbar{
    background: linear-gradient( .75turn, #1cd89d 0%,#006747 100%);
}
.navbar-brand{
    color: white;
}
.navbar-sticky {
    position: sticky;
    top: 0px;
}
.posticon:hover {
    background: gray;
}
