<nav class="navbar navbar-default navbar-sticky" data-color="green">
    <div class="container-fluid" data-color="green">
        <div class="navbar-header" data-color="green">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" >{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse" data-color="green">
            <ul class="nav navbar-nav navbar-right" style="color: white">
                <li>
                    <a (click)="openPopup()" style="margin-top: 12px; margin-bottom: 0px;">
                        <i class="fa fa-plus-square-o" aria-hidden="true" style="font-size: 32px"></i>
                    </a>
                </li>
                <li>
                    <a style="margin: 0px">
                        <img src="/assets/images/profile.png" style="height: 40px"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayPostModal}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
        <h4 class="modal-title">New Post</h4>
      </div>
      <div class="modal-body">
        <p>One Stop Solution for all CS problems</p>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="post()">
          Post
        </button>
      </div>
    </div>
  </div>
</div>
