<nav class="navbar navbar-default navbar-sticky" data-color="green">
    <div class="container-fluid" data-color="green">
        <div class="navbar-header" data-color="green">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand">{{getTitle()}}</p>
        </div>
        <div class="collapse navbar-collapse" data-color="green">

            <ul class="nav navbar-nav navbar-right" style="color: white">
                <li>
                    <a (click)="openPopup()"
                        style="margin-top: 12px; margin-bottom: 0px;">
                        <i class="fa fa-plus-square-o" aria-hidden="true" style="font-size: 32px"></i>
                    </a>
                </li>
                <li>
                    <a style="margin: 0px" (click)="menuToggle()">
                        <img src="/assets/images/profile.png" style="height: 40px" />
                    </a>
                    <div class="menu">
                        <h3>PAVAN</h3>
                        <ul>
                            <li><i class="fa fa-user" style="padding-right: 13%;"></i>   My profile</li>
                            <li><i class="fa fa-pencil-square-o" style="padding-right: 13%;"></i> Edit profile</li>
                            <li><i class="fa fa-sign-out"style="padding-right: 13%;"></i><a href="#">Logout</a></li>
                        </ul>
                    </div>



                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayPostModal}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
                <h4 class="modal-title">New Post</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="newpostForm">
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="headline">
                                Headline
                            </label>
                        </div>
                        <div class="col-xs-8">
                            <input id="headline" type="text" formControlName="headline">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label for="headlineDesc">
                                Description
                            </label>
                        </div>
                        <div class="col-xs-8">
                            <input id="headlineDesc" type="text" formControlName="headlineDesc">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-4">
                            <label for="postImage">
                                Upload Image
                            </label>
                        </div>
                        <div class="col-xs-8">
                            <input id="postImage" type="file" name="postImage" (change)="onFileChanged($event)">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="post()">
                    Post
                </button>
            </div>
        </div>
    </div>
</div>