<div class="main-content">
    <div class="category">
        <div class="item">all</div>
        <div class="item">Announcements</div>
        <div class="item">Event</div>
        <div class="item">Sports</div>
        <div class="item">Health</div>
        <div class="item">UPD</div>
        <div class="item">Local</div>
        <div class="item">Library</div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="card" style="max-width: 830px;">
                <img
                  src="https://mdbootstrap.com/img/new/slides/017.webp"
                  class="card-img"
                  alt="..."
                  style="max-width: 830px;"
                />
                <div class="card-img-overlay">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.
                  </p>
                  <p class="card-text">Last updated 3 mins ago</p>
                </div>
              </div>
        </div>
    </div>
</div>
