.main-content {
    background-color: white !important;
}

.category{
  max-height: 90px;
  border: 1px solid white;
  display: flex;
  overflow-x: auto ;
}

.category::-webkit-scrollbar{
  width: 0;
}

.category .item{
  min-width: 130px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #11b781;
  margin-right: 30px ;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.category .item:hover{
  background-color: #1f5b48;
}
  
  