<div class="main-content">
    <div class="category">
        <div class="item">All</div>
        <div class="item">Announcements</div>
        <div class="item">Events</div>
        <div class="item">Sports</div>
        <div class="item">Health</div>
        <div class="item">UPD</div>
        <div class="item">Local</div>
        <div class="item">Library</div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="card" style="max-width: 830px;">
                <img
                  src="https://www.nwmissouri.edu/media/news/2022/04/images/220427textbookpickup.jpg"
                  class="card-img"
                  alt="..."
                  style="max-width: 830px;"
                />
                <div class="card-img-overlay">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Students are pictured above picking up their textbooks for the start of the fall 2021 semester.
                    Students may return textbooks to Textbook Services, located in the lower level of The Station on the Northwest campus in Maryville, during regular business hours between 8 a.m. and 5 p.m.
                    Monday through Friday. Textbooks must be returned by 5 p.m. Friday, May 6.
                  </p>
                  <p class="card-text">Last updated 3 mins ago</p>
                </div>
              </div>
        </div>
    </div>
</div>
